In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
from pathlib import Path
import pandas as pd

# Define the file path
month = 1
year = 2023
path = Path("..") / "data" / "raw" / f"rides_{year}_{month:02}.csv"

# Read the CSV file
df = pd.read_csv(path)
df.sort_values(by="started_at", inplace=True)
# Display the first few rows
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
26569,FBCBC6B772749BAB,classic_bike,2023-01-01 00:06:36,2023-01-01 00:15:23,Grand St,JC102,Hilltop,JC019,40.715054,-74.037657,40.731169,-74.057574,casual
3432,844D0A6A19E6E2C9,classic_bike,2023-01-01 00:07:48,2023-01-01 00:15:22,Washington St,JC098,Newport Pkwy,JC008,40.724294,-74.035483,40.728745,-74.032108,member
4501,31096F6EDF7754F4,classic_bike,2023-01-01 00:10:11,2023-01-01 00:15:54,Paulus Hook,JC002,City Hall,JC003,40.714159,-74.033546,40.717732,-74.043845,member
43831,B2E882B65775E5D7,classic_bike,2023-01-01 00:10:12,2023-01-01 00:12:38,Journal Square,JC103,Dey St,JC065,40.733766,-74.062541,40.737711,-74.066921,member
43462,2A7E22C64EB95BA9,classic_bike,2023-01-01 00:15:26,2023-01-01 00:22:16,Madison St & 1 St,HB402,Hoboken Terminal - River St & Hudson Pl,HB102,40.738790,-74.039300,40.736068,-74.029127,casual

In [3]:
rides_cp = df.copy()
rides_cp.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
26569,FBCBC6B772749BAB,classic_bike,2023-01-01 00:06:36,2023-01-01 00:15:23,Grand St,JC102,Hilltop,JC019,40.715054,-74.037657,40.731169,-74.057574,casual
3432,844D0A6A19E6E2C9,classic_bike,2023-01-01 00:07:48,2023-01-01 00:15:22,Washington St,JC098,Newport Pkwy,JC008,40.724294,-74.035483,40.728745,-74.032108,member
4501,31096F6EDF7754F4,classic_bike,2023-01-01 00:10:11,2023-01-01 00:15:54,Paulus Hook,JC002,City Hall,JC003,40.714159,-74.033546,40.717732,-74.043845,member
43831,B2E882B65775E5D7,classic_bike,2023-01-01 00:10:12,2023-01-01 00:12:38,Journal Square,JC103,Dey St,JC065,40.733766,-74.062541,40.737711,-74.066921,member
43462,2A7E22C64EB95BA9,classic_bike,2023-01-01 00:15:26,2023-01-01 00:22:16,Madison St & 1 St,HB402,Hoboken Terminal - River St & Hudson Pl,HB102,40.738790,-74.039300,40.736068,-74.029127,casual

In [4]:
rides_cp.fillna('',inplace=True)
invalid_ids = rides_cp[rides_cp['start_station_id'].str.contains(r'^\d+(\.\d+)?$', regex=True)]

# Display the filtered result
invalid_ids.head()

/var/folders/5q/38fn8x6x05j5m61tvnrj7t040000gn/T/ipykernel_41776/1780319553.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  rides_cp.fillna('',inplace=True)
/var/folders/5q/38fn8x6x05j5m61tvnrj7t040000gn/T/ipykernel_41776/1780319553.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  invalid_ids = rides_cp[rides_cp['start_station_id'].str.contains(r'^\d+(\.\d+)?$', regex=True)]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
55608,53D8A4EEAD64311B,classic_bike,2023-01-05 10:56:43,2023-01-05 11:08:40,Mercer St & Spring St,5532.01,W 36 St & 7 Ave,6483.06,40.715285,-74.037828,40.752149,-73.989539,member

In [5]:
filtered_rides = rides_cp[rides_cp['start_station_name'] == 'Mercer St & Spring St']
filtered_rides

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
55608,53D8A4EEAD64311B,classic_bike,2023-01-05 10:56:43,2023-01-05 11:08:40,Mercer St & Spring St,5532.01,W 36 St & 7 Ave,6483.06,40.715285,-74.037828,40.752149,-73.989539,member

In [6]:
distinct_start_station_names = rides_cp.groupby('start_station_id')['start_station_name'].nunique()
distinct_start_station_names = distinct_start_station_names[distinct_start_station_names > 1]
distinct_start_station_names

Series([], Name: start_station_name, dtype: int64)

In [7]:
rides_cp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56075 entries, 26569 to 19663
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             56075 non-null  object
 1   rideable_type       56075 non-null  object
 2   started_at          56075 non-null  object
 3   ended_at            56075 non-null  object
 4   start_station_name  56075 non-null  object
 5   start_station_id    56075 non-null  object
 6   end_station_name    56075 non-null  object
 7   end_station_id      56075 non-null  object
 8   start_lat           56075 non-null  float64
 9   start_lng           56075 non-null  float64
 10  end_lat             56075 non-null  object
 11  end_lng             56075 non-null  object
 12  member_casual       56075 non-null  object
dtypes: float64(2), object(11)
memory usage: 6.0+ MB

In [8]:
# Assuming the DataFrame is already loaded as rides_cp

# Convert datetime columns
rides_cp['started_at'] = pd.to_datetime(rides_cp['started_at'])
rides_cp['ended_at'] = pd.to_datetime(rides_cp['ended_at'])

# Create duration column in minutes
rides_cp['duration'] = (rides_cp['ended_at'] - rides_cp['started_at'])

# Describe the duration column
duration_description = rides_cp['duration'].describe()
duration_description

count                        56075
mean     0 days 00:11:47.619580918
std      0 days 01:08:03.871820543
min                0 days 00:00:00
25%                0 days 00:03:51
50%                0 days 00:05:52
75%                0 days 00:09:02
max                3 days 03:38:17
Name: duration, dtype: object

In [9]:
rides_cp["duration"].quantile(0)
rides_cp["duration"].quantile(0.01)
rides_cp["duration"].quantile(0.995)
rides_cp["duration"].quantile(0.999)

Timedelta('0 days 00:00:00')

Timedelta('0 days 00:00:19')

Timedelta('0 days 01:47:45.519999999')

Timedelta('1 days 00:59:39.926000')

In [10]:
rides_cp['ride_id'].count()

56075

In [39]:
duration_filter = (rides_cp["duration"] > pd.Timedelta(0)) & (rides_cp["duration"] <= pd.Timedelta(hours=24))
sum(~duration_filter)

61

In [38]:
sorted_df = rides_cp.sort_values(by="started_at", ascending=True)  

# Get the top 10 (smallest) and bottom 10 (largest) values  
top_10 = sorted_df.head(10)  
bottom_10 = sorted_df.tail(10)  

top_10

bottom_10

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,duration
26569,FBCBC6B772749BAB,classic_bike,2023-01-01 00:06:36,2023-01-01 00:15:23,Grand St,JC102,Hilltop,JC019,40.715054,-74.037657,40.731169,-74.057574,casual,0 days 00:08:47
3432,844D0A6A19E6E2C9,classic_bike,2023-01-01 00:07:48,2023-01-01 00:15:22,Washington St,JC098,Newport Pkwy,JC008,40.724294,-74.035483,40.728745,-74.032108,member,0 days 00:07:34
4501,31096F6EDF7754F4,classic_bike,2023-01-01 00:10:11,2023-01-01 00:15:54,Paulus Hook,JC002,City Hall,JC003,40.714159,-74.033546,40.717732,-74.043845,member,0 days 00:05:43
43831,B2E882B65775E5D7,classic_bike,2023-01-01 00:10:12,2023-01-01 00:12:38,Journal Square,JC103,Dey St,JC065,40.733766,-74.062541,40.737711,-74.066921,member,0 days 00:02:26
43462,2A7E22C64EB95BA9,classic_bike,2023-01-01 00:15:26,2023-01-01 00:22:16,Madison St & 1 St,HB402,Hoboken Terminal - River St & Hudson Pl,HB102,40.738790,-74.039300,40.736068,-74.029127,casual,0 days 00:06:50
38906,640BD838456FE8C5,classic_bike,2023-01-01 00:15:36,2023-01-01 00:15:56,Harborside,JC104,Harborside,JC104,40.719475,-74.034166,40.719252,-74.034234,member,0 days 00:00:20
38905,AE77B983987F35E3,classic_bike,2023-01-01 00:16:21,2023-01-01 00:16:33,Harborside,JC104,Harborside,JC104,40.719317,-74.034068,40.719252,-74.034234,member,0 days 00:00:12
38907,C6202E562525C0E7,classic_bike,2023-01-01 00:16:59,2023-01-01 00:17:08,Harborside,JC104,Harborside,JC104,40.719352,-74.034162,40.719252,-74.034234,member,0 days 00:00:09
19633,26BFE93CF397516C,classic_bike,2023-01-01 00:17:35,2023-01-01 00:24:52,Harborside,JC104,Baldwin at Montgomery,JC020,40.719316,-74.034208,40.723659,-74.064194,member,0 days 00:07:17
35920,C2E9D7B9BF096244,classic_bike,2023-01-01 00:22:57,2023-01-01 00:35:18,Newport Pkwy,JC008,Jersey & 3rd,JC074,40.728745,-74.032108,40.723332,-74.045953,member,0 days 00:12:21

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,duration
11979,D19BA7680F4AB68F,classic_bike,2023-01-31 23:29:56,2023-01-31 23:35:26,Grove St PATH,JC115,Grand St,JC102,40.719378,-74.043128,40.715178,-74.037683,member,0 days 00:05:30
10550,C3FBC0206450FDDD,classic_bike,2023-01-31 23:32:04,2023-01-31 23:45:47,Church Sq Park - 5 St & Park Ave,HB601,11 St & Washington St,HB502,40.742659,-74.032233,40.749985,-74.02715,casual,0 days 00:13:43
47894,59126B6137520A96,classic_bike,2023-01-31 23:37:14,2023-01-31 23:42:14,Bergen Ave & Sip Ave,JC109,Astor Place,JC077,40.731159,-74.064487,40.719282,-74.071262,member,0 days 00:05:00
15696,8F3567FDAADD8922,classic_bike,2023-01-31 23:52:17,2023-01-31 23:59:00,Liberty Light Rail,JC052,City Hall,JC003,40.711242,-74.055701,40.717732,-74.043845,member,0 days 00:06:43
15391,4829B01F104848B9,classic_bike,2023-01-31 23:54:24,2023-01-31 23:57:42,Grove St PATH,JC115,Montgomery St,JC099,40.719410,-74.043090,40.71942,-74.05099,member,0 days 00:03:18
12917,9B4D062FE62510D1,classic_bike,2023-01-31 23:54:41,2023-01-31 23:58:48,Grove St PATH,JC115,Dixon Mills,JC076,40.719410,-74.043090,40.72163,-74.049968,member,0 days 00:04:07
9994,1826B5801D58A602,classic_bike,2023-01-31 23:55:39,2023-02-01 00:20:57,Grove St PATH,JC115,Communipaw & Berry Lane,JC084,40.719410,-74.043090,40.714358,-74.066611,casual,0 days 00:25:18
37488,FBDD61DDEEAA4275,classic_bike,2023-01-31 23:56:37,2023-02-01 00:00:42,Clinton St & Newark St,HB409,6 St & Grand St,HB302,40.737430,-74.035710,40.744398,-74.034501,member,0 days 00:04:05
6462,06508ACFCBF384B1,electric_bike,2023-01-31 23:57:41,2023-02-01 00:02:48,City Hall,JC003,Liberty Light Rail,JC052,40.717732,-74.043845,40.711242,-74.055701,casual,0 days 00:05:07
19663,19718DA10D44445D,electric_bike,2023-01-31 23:58:11,2023-02-01 00:04:48,City Hall,JC003,Baldwin at Montgomery,JC020,40.717732,-74.043845,40.723659,-74.064194,member,0 days 00:06:37

In [40]:
rides_cp['start_station_id'].value_counts()

start_station_id
JC115      2953
HB102      2850
HB103      1783
HB101      1734
HB105      1506
           ...
JC097       107
JC063        81
JC107        61
JC108        52
5532.01       1
Name: count, Length: 82, dtype: int64

In [41]:
filter_date_range = (rides_cp["started_at"] >= "2023-01-01") & (rides_cp["started_at"] < "2023-02-01")
sum(~filter_date_range)

0

In [42]:
final_filter = duration_filter & filter_date_range
numbers_dropped = final_filter.shape[0] - sum(final_filter) # numbers dropped
numbers_dropped
numbers_dropped/final_filter.shape[0] * 100

61

0.10878288007133304

In [43]:
rides = rides_cp[final_filter]
rides = rides[["started_at", "start_station_id"]]
rides.rename(columns={
    "started_at": "pickup_datetime",
    "start_station_id": "pickup_location_id"
}, inplace=True)
rides.head()
year = 2023
month = 1
path = Path("..") / "data" / "processed" / f"rides_{year}_{month:02}.parquet"

          pickup_datetime pickup_location_id
26569 2023-01-01 00:06:36              JC102
3432  2023-01-01 00:07:48              JC098
4501  2023-01-01 00:10:11              JC002
43831 2023-01-01 00:10:12              JC103
43462 2023-01-01 00:15:26              HB402

In [44]:
rides.to_parquet(path, engine="pyarrow", index=False)

rid

In [45]:
rides[rides["pickup_location_id"] == 'JC103']

          pickup_datetime pickup_location_id
43831 2023-01-01 00:10:12              JC103
38218 2023-01-01 01:02:51              JC103
588   2023-01-01 01:37:53              JC103
19592 2023-01-01 10:44:14              JC103
9347  2023-01-01 12:10:02              JC103
...                   ...                ...
9389  2023-01-31 18:14:16              JC103
560   2023-01-31 18:27:41              JC103
39718 2023-01-31 20:32:01              JC103
19659 2023-01-31 20:37:52              JC103
39726 2023-01-31 21:11:57              JC103

[620 rows x 2 columns]

In [48]:
import pandas as pd
from pathlib import Path

# Folder path
raw_folder_path = Path("..") / "data" / "raw"

# List to collect all monthly DataFrames
all_rides = []

# Iterate through all relevant CSV files
for csv_file in sorted(raw_folder_path.glob("rides_2023_*.csv")):
    try:
        print(f" Processing file: {csv_file.name}")
        df = pd.read_csv(csv_file)

        # Parse datetime early for verification
        df["started_at"] = pd.to_datetime(df["started_at"], errors='coerce')

        print(f" Loaded shape: {df.shape}")
        print(f"  Date range: {df['started_at'].min()} to {df['started_at'].max()}")
        
        all_rides.append(df)
    except Exception as e:
        print(f" Failed to process {csv_file.name}: {e}")

# Combine all months into a single DataFrame
df = pd.concat(all_rides, ignore_index=True)
print(f"\n Final combined shape: {df.shape}")

 Processing file: rides_2023_01.csv
 Loaded shape: (56075, 13)
  Date range: 2023-01-01 00:06:36 to 2023-01-31 23:58:11
 Processing file: rides_2023_11.csv
 Loaded shape: (75646, 13)
  Date range: 2023-11-01 00:01:23 to 2023-11-30 23:58:29

 Final combined shape: (131721, 13)

In [49]:
import pandas as pd
from pathlib import Path

# Folder path
raw_folder_path = Path("..") / "data" / "raw"

# List to collect all monthly DataFrames
all_rides = []

# Iterate through all relevant CSV files
for csv_file in sorted(raw_folder_path.glob("rides_2024_*.csv")):
    try:
        print(f" Processing file: {csv_file.name}")
        df = pd.read_csv(csv_file)

        # Parse datetime early for verification
        df["started_at"] = pd.to_datetime(df["started_at"], errors='coerce')

        print(f" Loaded shape: {df.shape}")
        print(f"  Date range: {df['started_at'].min()} to {df['started_at'].max()}")
        
        all_rides.append(df)
    except Exception as e:
        print(f" Failed to process {csv_file.name}: {e}")

# Combine all months into a single DataFrame
df1 = pd.concat(all_rides, ignore_index=True)
print(f"\n Final combined shape: {df1.shape}")

 Processing file: rides_2024_01.csv
 Loaded shape: (50661, 13)
  Date range: 2024-01-01 00:06:21 to 2024-01-31 23:51:27
 Processing file: rides_2024_04.csv
 Loaded shape: (79116, 13)
  Date range: 2024-04-01 00:01:25 to 2024-04-30 23:53:14
 Processing file: rides_2024_11.csv
 Loaded shape: (85294, 13)
  Date range: 2024-10-31 14:50:21.686000 to 2024-11-30 23:57:23.726000

 Final combined shape: (215071, 13)

In [50]:
df1.shape

(215071, 13)

In [51]:
df1['started_at'] = pd.to_datetime(df1['started_at'], errors='coerce')  # Ensure started_at is in datetime format
monthly_counts = df1.groupby(df1['started_at'].dt.month)['started_at'].count()
print(monthly_counts)

started_at
1     50661
4     79116
10       13
11    85281
Name: started_at, dtype: int64

In [52]:
df1

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0744109F13385D1D,electric_bike,2024-01-15 15:18:07.000,2024-01-15 15:32:44,Morris Canal,JC072,Oakland Ave,JC022,40.712297,-74.038185,40.737604,-74.052478,member
1,B1488BFEF9118000,classic_bike,2024-01-13 15:32:50.000,2024-01-13 15:36:18,JC Medical Center,JC110,Grove St PATH,JC115,40.715391,-74.049692,40.719410,-74.043090,member
2,95A2FE8E51B4C836,classic_bike,2024-01-19 13:11:00.000,2024-01-19 13:14:44,Morris Canal,JC072,Exchange Pl,JC116,40.712419,-74.038526,40.716366,-74.034344,member
3,95D9AFF6A1652DC1,classic_bike,2024-01-23 07:03:49.000,2024-01-23 07:07:11,Morris Canal,JC072,Exchange Pl,JC116,40.712419,-74.038526,40.716366,-74.034344,member
4,5F7408988A83B1B3,classic_bike,2024-01-01 16:46:10.000,2024-01-01 16:50:31,Morris Canal,JC072,Harborside,JC104,40.712419,-74.038526,40.719252,-74.034234,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
215066,8D9726DD42C98236,classic_bike,2024-11-16 08:59:39.259,2024-11-16 09:06:17.058,11 St & Washington St,HB502,9 St HBLR - Jackson St & 8 St,HB305,40.749985,-74.027150,40.747907,-74.038412,member
215067,312C51071A1537B5,classic_bike,2024-11-01 11:21:09.369,2024-11-01 11:28:30.109,Dixon Mills,JC076,Washington St,JC098,40.721630,-74.049968,40.724294,-74.035483,member
215068,E3D979A7EA242FC4,classic_bike,2024-11-05 09:22:25.580,2024-11-05 09:30:59.295,Dixon Mills,JC076,Washington St,JC098,40.721630,-74.049968,40.724294,-74.035483,member
215069,B7EEB2F03444AFEB,classic_bike,2024-11-16 09:11:00.690,2024-11-16 09:16:01.008,8 St & Washington St,HB603,9 St HBLR - Jackson St & 8 St,HB305,40.745984,-74.028199,40.747907,-74.038412,member
215070,FBB26469E5EAF080,electric_bike,2024-11-12 15:56:16.003,2024-11-12 15:59:10.437,8 St & Washington St,HB603,9 St HBLR - Jackson St & 8 St,HB305,40.745984,-74.028199,40.747907,-74.038412,member

In [53]:
df1['started_at'] = pd.to_datetime(df1['started_at'])  # Ensure started_at is in datetime format
november_records = df1[df1['started_at'].dt.month == 4]
november_records

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
50661,2D398FDF45B98978,electric_bike,2024-04-16 21:43:36,2024-04-16 22:03:44,Marin Light Rail,JC013,Hoboken Terminal - River St & Hudson Pl,HB102,40.714584,-74.042817,40.736068,-74.029127,casual
50662,7D463681098397A7,classic_bike,2024-04-20 20:06:34,2024-04-20 20:20:33,Heights Elevator,JC059,Bergen Ave & Sip Ave,JC109,40.748716,-74.040443,40.731009,-74.064437,member
50663,5EED2D897C650AEE,classic_bike,2024-04-09 07:56:59,2024-04-09 07:59:43,6 St & Grand St,HB302,Clinton St & Newark St,HB409,40.744398,-74.034501,40.737430,-74.035710,member
50664,E1D43CEADADF8D3C,electric_bike,2024-04-17 08:44:36,2024-04-17 08:51:06,6 St & Grand St,HB302,Newport PATH,JC066,40.744318,-74.034337,40.727224,-74.033759,member
50665,B49012F99F97FEE4,classic_bike,2024-04-13 08:50:30,2024-04-13 08:55:10,Lafayette Park,JC078,Liberty Light Rail,JC052,40.713464,-74.062859,40.711242,-74.055701,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129772,CE90C772574D5E70,electric_bike,2024-04-21 15:56:52,2024-04-21 16:07:13,Columbus Drive,JC014,Baldwin at Montgomery,JC020,40.718618,-74.038553,40.723659,-74.064194,casual
129773,70D59D4F56BAA44C,electric_bike,2024-04-21 16:11:20,2024-04-21 16:19:33,Columbus Drive,JC014,Baldwin at Montgomery,JC020,40.718847,-74.038642,40.723659,-74.064194,casual
129774,919C8DE40AC18B29,electric_bike,2024-04-26 17:48:39,2024-04-26 17:55:20,Columbus Drive,JC014,Baldwin at Montgomery,JC020,40.719039,-74.038610,40.723659,-74.064194,member
129775,46D5752D4AFF2E1B,classic_bike,2024-04-16 13:20:32,2024-04-16 13:35:39,Columbus Drive,JC014,Baldwin at Montgomery,JC020,40.718355,-74.038914,40.723659,-74.064194,member
129776,F79D0248A8361A64,electric_bike,2024-04-07 14:11:42,2024-04-07 14:22:13,Columbus Drive,JC014,Baldwin at Montgomery,JC020,40.718823,-74.038696,40.723659,-74.064194,casual

In [54]:
filtered_records = df1[df1['start_station_id'] == 'HB303']
filtered_records

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
2936,810BF5C8A8275BFB,classic_bike,2024-01-05 20:53:39.000,2024-01-05 20:58:36,Clinton St & 7 St,HB303,Madison St & 10 St,HB503,40.745420,-74.033320,40.749943,-74.035865,casual
3456,12CD938BDD894453,electric_bike,2024-01-03 22:15:38.000,2024-01-03 22:16:39,Clinton St & 7 St,HB303,Columbus Park - Clinton St & 9 St,HB501,40.745368,-74.033362,40.748161,-74.032453,member
3643,8914954DFFC8AD5F,electric_bike,2024-01-13 01:12:59.000,2024-01-13 01:18:14,Clinton St & 7 St,HB303,Madison St & 1 St,HB402,40.745438,-74.033383,40.738790,-74.039300,casual
3687,BF4229D6D45CA529,classic_bike,2024-01-28 23:52:01.000,2024-01-29 00:10:08,Clinton St & 7 St,HB303,Oakland Ave,JC022,40.745420,-74.033320,40.737604,-74.052478,member
3945,E5DA194FC764506A,electric_bike,2024-01-25 13:41:54.000,2024-01-25 13:57:29,Clinton St & 7 St,HB303,Harborside,JC104,40.745485,-74.033379,40.719252,-74.034234,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200607,D78C7FB5077683F9,classic_bike,2024-11-29 19:16:04.515,2024-11-29 19:19:32.685,Clinton St & 7 St,HB303,8 St & Washington St,HB603,40.745420,-74.033320,40.745984,-74.028199,member
200610,80B66C1A8C783D16,electric_bike,2024-11-03 10:17:53.337,2024-11-03 10:20:51.843,Clinton St & 7 St,HB303,11 St & Washington St,HB502,40.745420,-74.033320,40.749985,-74.027150,member
200615,42D12A586F771C0D,classic_bike,2024-11-11 18:09:10.799,2024-11-11 18:12:09.588,Clinton St & 7 St,HB303,8 St & Washington St,HB603,40.745420,-74.033320,40.745984,-74.028199,member
200618,F97B1C5D025AEC30,electric_bike,2024-11-03 18:30:06.428,2024-11-03 18:32:32.355,Clinton St & 7 St,HB303,8 St & Washington St,HB603,40.745420,-74.033320,40.745984,-74.028199,member
202104,CACE7ABC01D8C946,electric_bike,2024-11-13 17:52:05.909,2024-11-13 18:04:17.545,Clinton St & 7 St,HB303,Jersey & 3rd,JC074,40.745420,-74.033320,40.723332,-74.045953,member

In [55]:
df1.fillna('',inplace=True)
invalid_ids = df1[df1['start_station_id'].str.contains(r'^\d+(\.\d+)?$', regex=True)]

# Display the filtered result
invalid_ids.head()

/var/folders/5q/38fn8x6x05j5m61tvnrj7t040000gn/T/ipykernel_41776/238208567.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df1.fillna('',inplace=True)
/var/folders/5q/38fn8x6x05j5m61tvnrj7t040000gn/T/ipykernel_41776/238208567.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  invalid_ids = df1[df1['start_station_id'].str.contains(r'^\d+(\.\d+)?$', regex=True)]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
1811,7336CCD11D20C137,electric_bike,2024-01-04 17:09:41,2024-01-04 17:29:21,Greenwich St & Hubert St,5470.10,S 3 St & Bedford Ave,5235.05,40.730392,-74.046268,40.712605,-73.962644,member
2808,908E3C08A10F0BB8,electric_bike,2024-01-10 12:40:28,2024-01-10 13:05:37,Southpoint Park,6566.01,Southpoint Park,6566.01,40.748325,-74.032212,40.753702,-73.958652,casual
4140,AAC02759B32781BE,electric_bike,2024-01-24 12:42:38,2024-01-24 12:46:34,Broadway & W 41 St,6560.01,11 Ave & W 41 St,6726.01,40.754863,-74.016444,40.760301,-73.998842,member
6074,0B3B42EBDF5308B5,electric_bike,2024-01-12 16:52:51,2024-01-12 16:55:53,Motorgate,6814.01,Roosevelt Island Tramway,6599.01,40.748325,-74.032212,40.757284,-73.9536,member
7962,1C53A3B148EA160D,electric_bike,2024-01-12 14:19:22,2024-01-12 14:29:30,Southpoint Park,6566.01,Motorgate,6814.01,40.748325,-74.032212,40.763909,-73.947721,casual

In [56]:
df.fillna('',inplace=True)
invalid_ids = df[df['start_station_id'].str.contains(r'^\d+(\.\d+)?$', regex=True)]

# Display the filtered result
invalid_ids.head()

/var/folders/5q/38fn8x6x05j5m61tvnrj7t040000gn/T/ipykernel_41776/1204604302.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna('',inplace=True)
/var/folders/5q/38fn8x6x05j5m61tvnrj7t040000gn/T/ipykernel_41776/1204604302.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  invalid_ids = df[df['start_station_id'].str.contains(r'^\d+(\.\d+)?$', regex=True)]

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []

In [34]:
invalid_ids_counts = invalid_ids['start_station_id'].value_counts()
invalid_ids_counts[invalid_ids_counts > 1]

Series([], Name: count, dtype: int64)

In [57]:
df[df['start_station_id'].str.contains(r'^\d+(\.\d+)?$', regex=True)].tail()

/var/folders/5q/38fn8x6x05j5m61tvnrj7t040000gn/T/ipykernel_41776/1183508369.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[df['start_station_id'].str.contains(r'^\d+(\.\d+)?$', regex=True)].tail()

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []

In [58]:
df['started_at'] = pd.to_datetime(df['started_at'])  # Ensure started_at is in datetime format
november_records = df[df['started_at'].dt.month == 11]
november_records

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,9AA03545887E57FA,electric_bike,2024-11-02 08:14:11.199,2024-11-02 08:21:33.196,Hoboken Terminal - River St & Hudson Pl,HB102,Hamilton Park,JC009,40.736068,-74.029127,40.727596,-74.044247,member
1,69BD4C5BD37D6463,electric_bike,2024-11-17 17:43:49.737,2024-11-17 17:59:34.603,Hoboken Terminal - River St & Hudson Pl,HB102,Hamilton Park,JC009,40.736068,-74.029127,40.727596,-74.044247,member
2,930331A4B31919FE,electric_bike,2024-11-24 10:35:18.337,2024-11-24 10:44:54.052,Hoboken Terminal - River St & Hudson Pl,HB102,Hamilton Park,JC009,40.736068,-74.029127,40.727596,-74.044247,member
3,BE4A4B292C7784CF,electric_bike,2024-11-24 14:55:56.094,2024-11-24 15:05:05.286,Hoboken Terminal - River St & Hudson Pl,HB102,Hamilton Park,JC009,40.736068,-74.029127,40.727596,-74.044247,member
4,DC39CF66AB8A7B91,electric_bike,2024-11-05 17:37:22.971,2024-11-05 17:41:44.065,Grand St & 14 St,HB506,6 St & Grand St,HB302,40.754090,-74.031600,40.744398,-74.034501,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
85289,8D9726DD42C98236,classic_bike,2024-11-16 08:59:39.259,2024-11-16 09:06:17.058,11 St & Washington St,HB502,9 St HBLR - Jackson St & 8 St,HB305,40.749985,-74.027150,40.747907,-74.038412,member
85290,312C51071A1537B5,classic_bike,2024-11-01 11:21:09.369,2024-11-01 11:28:30.109,Dixon Mills,JC076,Washington St,JC098,40.721630,-74.049968,40.724294,-74.035483,member
85291,E3D979A7EA242FC4,classic_bike,2024-11-05 09:22:25.580,2024-11-05 09:30:59.295,Dixon Mills,JC076,Washington St,JC098,40.721630,-74.049968,40.724294,-74.035483,member
85292,B7EEB2F03444AFEB,classic_bike,2024-11-16 09:11:00.690,2024-11-16 09:16:01.008,8 St & Washington St,HB603,9 St HBLR - Jackson St & 8 St,HB305,40.745984,-74.028199,40.747907,-74.038412,member
85293,FBB26469E5EAF080,electric_bike,2024-11-12 15:56:16.003,2024-11-12 15:59:10.437,8 St & Washington St,HB603,9 St HBLR - Jackson St & 8 St,HB305,40.745984,-74.028199,40.747907,-74.038412,member

In [59]:
df[df['start_station_name'].str.contains('Centre St & Chambers St')]

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []

In [60]:
invalid_ids_count = invalid_ids.groupby('start_station_id').size().sort_values(ascending=False)
invalid_ids_count

Series([], dtype: int64)

In [61]:
# Define the file path for the 11th month
november_path = raw_folder_path / "rides_2023_11.csv"

# Read the CSV file for November
november_df = pd.read_csv(november_path)

# Apply the location filter
location_filter = ~november_df["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)
location_filtered = november_df[location_filter]

# Display the filtered result
location_filtered.head()

/var/folders/5q/38fn8x6x05j5m61tvnrj7t040000gn/T/ipykernel_41776/1091487936.py:8: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~november_df["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,1156A0D0E2EB60CB,classic_bike,2023-11-19 12:08:48,2023-11-19 12:28:53,Jackson Square,JC063,Baldwin at Montgomery,JC020,40.711130,-74.078900,40.723659,-74.064194,casual
1,9A6D99BAED3AE106,classic_bike,2023-11-05 18:21:56,2023-11-05 18:25:36,Madison St & 10 St,HB503,Mama Johnson Field - 4 St & Jackson St,HB404,40.750044,-74.035878,40.743140,-74.040041,casual
2,CC3F75A6310A2625,classic_bike,2023-11-12 11:36:41,2023-11-12 11:42:04,Madison St & 10 St,HB503,Mama Johnson Field - 4 St & Jackson St,HB404,40.750100,-74.035852,40.743140,-74.040041,casual
3,3BF4E21F0D5BCB98,classic_bike,2023-11-08 15:04:23,2023-11-08 15:20:23,Jackson Square,JC063,Hilltop,JC019,40.711130,-74.078900,40.731169,-74.057574,member
4,1B7E5ADCABC46F0E,classic_bike,2023-11-22 09:08:22,2023-11-22 09:14:23,Mama Johnson Field - 4 St & Jackson St,HB404,River St & 1 St,HB609,40.743148,-74.040053,40.737215,-74.028865,member

In [63]:
sum(~november_df["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True))

/var/folders/5q/38fn8x6x05j5m61tvnrj7t040000gn/T/ipykernel_41776/3798434593.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  sum(~november_df["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True))

75627