In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
import os

# Add the parent directory to the Python path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

In [3]:
import pandas as pd

from src.config import TRANSFORMED_DATA_DIR

features_and_targets = pd.read_parquet(TRANSFORMED_DATA_DIR / "tabular_data.parquet")

In [4]:
features = features_and_targets.iloc[:, :-1]
targets = features_and_targets["target"]

In [5]:
features
targets

0        15
1        27
2         1
3        17
4         0
         ..
57959    17
57960     0
57961    13
57962     4
57963    10
Name: target, Length: 57964, dtype: int16

In [6]:
features[features['pickup_location_id']=='HB101']
# targets

,rides_t-672,rides_t-671,rides_t-670,rides_t-669,rides_t-668,rides_t-667,rides_t-666,rides_t-665,rides_t-664,rides_t-663,...,rides_t-8,rides_t-7,rides_t-6,rides_t-5,rides_t-4,rides_t-3,rides_t-2,rides_t-1,pickup_hour,pickup_location_id
0,5,0,0,0,0,0,7,0,0,0,...,0,0,18,0,0,0,0,0,2023-01-29 00:00:00,HB101
1,24,0,0,0,0,0,7,0,0,0,...,0,0,3,0,0,0,0,0,2023-01-29 12:00:00,HB101
2,2,0,0,0,0,0,13,0,0,0,...,0,0,13,0,0,0,0,0,2023-01-30 00:00:00,HB101
3,34,0,0,0,0,0,18,0,0,0,...,0,0,17,0,0,0,0,0,2023-01-30 12:00:00,HB101
4,1,0,0,0,0,0,11,0,0,0,...,0,0,24,0,0,0,0,0,2023-01-31 00:00:00,HB101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,23,0,0,0,0,0,12,0,0,0,...,0,0,8,0,0,0,0,0,2023-12-29 12:00:00,HB101
670,6,0,0,0,0,0,9,0,0,0,...,0,0,20,0,0,0,0,0,2023-12-30 00:00:00,HB101
671,27,0,0,0,0,0,30,0,0,0,...,0,0,6,0,0,0,0,0,2023-12-30 12:00:00,HB101
672,12,0,0,0,0,0,0,0,0,0,...,0,0,11,0,0,0,0,0,2023-12-31 00:00:00,HB101
673,8,0,0,0,0,0,8,0,0,0,...,0,0,4,0,0,0,0,0,2023-12-31 12:00:00,HB101